/* fonts */
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap");
@import "tailwindcss";

@theme {
  --font-Satoshi: "Satoshi", sans-serif;

  --color-black: #000000;
  --color-white: #ffffff;
}
